

#root {
    display: flex;  
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    vertical-align: top;
  
}

.layout--base {
    width: 100%;
    flex-grow: 1;
}

.ant-layout {
    background-color: var(--primary-bg-color);
}


